nav {
  display: flex;
  align-items: baseline;
  /* justify-content: space-between; */
}

main {
  margin: 0px 20px;
}

a {
  text-decoration: none;
  color: black;
}

.nav-links-container {
  display: flex;
  flex-grow: 3;
  justify-content: center;
}

.nav-logo-container {
  flex-grow: 1;
}

.nav-wallet-container {
  flex-grow: 1;
}